@import "tailwindcss";

@layer theme, base, components, utilities;

@property --tw-ring-offset-width {
  syntax: "<length>";
  inherits: false;
  initial-value: 0px;
}

@property --tw-ring-offset-shadow {
  syntax: "<shadow>";
  inherits: false;
  initial-value: none;
}

@property --tw-ring-shadow {
  syntax: "<shadow>";
  inherits: false;
  initial-value: none;
}

@layer theme {
  :root {
    --background: #fff8f6;
    --foreground: #0a0f1f;

    /* Your custom color palette */
    --color-primary-pink-light: #f06292;
    --color-primary-pink: #e91e63;
    --color-primary-pink-dark: #ad1457;
    --color-soft-pink: #f8bbd0;
    --color-rich-brown: #5d4037;
    --color-warm-beige: #d7ccc8;
    --color-off-white: #fff8f6;
  }
}

@layer utilities {
  .pink-button {
    background-color: var(--color-primary-pink);
    color: var(--color-off-white);
  }

  .pink-button:hover {
    background-color: var(--color-primary-pink-light);
  }

  .hover-soft-border {
    box-shadow: none;
    border: 1px solid transparent;
    border-top: none;
    border-left: none;
  }

  .hover-soft-border:hover {
    box-shadow: 2px 2px 3px rgba(0, 0, 0, 0.175);
    border: 1px solid rgba(0, 0, 0, 0.1);
    border-top: none;
    border-left: none;
  }

  .text-link {
    color: var(--color-primary-pink);
  }

  .text-link:hover {
    text-decoration: underline;
  }
}

button {
  cursor: pointer;
}

button,
input {
  --tw-ring-offset-width: 0px !important;
  --tw-ring-offset-shadow: none !important;
  --tw-ring-shadow: none !important;
  outline: none !important;
  box-shadow: none !important;
}
