@import "tailwindcss";

@layer theme, base, components, utilities;

@property --tw-ring-offset-width {
  syntax: "<length>";
  inherits: false;
  initial-value: 0px;
}

@property --tw-ring-offset-shadow {
  syntax: "<shadow>";
  inherits: false;
  initial-value: none;
}

@property --tw-ring-shadow {
  syntax: "<shadow>";
  inherits: false;
  initial-value: none;
}
:root {

  --background: #ffffff;
  --foreground: #0a0f1f;
  --color-primary-pink: oklch(70% 0.25 340);  
  --color-primary-pink-dark: oklch(55% 0.25 340);  
  --color-primary-pink-light: oklch(85% 0.15 340);
  --color-soft-pink: oklch(83.53% 0.0701 343.83);
  --color-rich-brown: oklch(36.34% 0.0617 40.07);
  --color-warm-beige: oklch(81.78% 0.0264 56.97);
  --color-off-white: oklch(98.45% 0.0066 39.43);
  }

@layer theme {

}

@layer base {
  button {
    @apply cursor-pointer
  }

  input {
    --tw-ring-offset-width: 0px !important;
    --tw-ring-offset-shadow: none !important;
    --tw-ring-shadow: none !important;
    outline: none !important;
    box-shadow: none !important;
  }
}

@property --tw-ring-shadow {
  syntax: "<shadow>";
  inherits: false;
  initial-value: none;
}

@layer utilities {
  .hover-soft-border {
    box-shadow: none;
    border: 1px solid transparent;
    border-top: none;
    border-left: none;
  }

  .hover-soft-border:hover {
    box-shadow: 2px 2px 3px rgba(0, 0, 0, 0.175);
    border: 1px solid rgba(0, 0, 0, 0.1);
    border-top: none;
    border-left: none;
  }

  .text-link {
    color: var(--color-primary-pink);
  }

  .text-link:hover {
    text-decoration: underline;
  }
}

/* 

FLUID TEXT
  text-[min(10vw, 70px)]

ACCENT
  accent-pink-500

HIGHTLIGHT
  selection:bg-pink selection:text-white

LESS JAVASCRIPT
  <div>
    <details className="open:bg-white open:ring-1" open>
    <summary className="leading-6">
      Why do they call it Ovaltine?
    </summary>
    <div>
      <p>
        Some text
      </p>
    <div>
    </details>
  </div>

  CARET
  <select className="caret-pink-500"></select>
*/


