@import "tailwindcss";

:root {
  --background: #FFF8F6;
  --foreground: #0A0F1F;

  /* Your custom color palette */
  --color-primary-pink-light: #F06292;
  --color-primary-pink: #E91E63;
  --color-primary-pink-dark: #AD1457;
  --color-soft-pink: #F8BBD0;
  --color-rich-brown: #5D4037;
  --color-warm-beige: #D7CCC8;
  --color-off-white: #FFF8F6;
}

@layer components {
  .pink-button {
    @apply bg-[var(--color-primary-pink)] text-[var(--color-off-white)];
  }

  .pink-button:hover {
    @apply bg-[var(--color-primary-pink-light)]
  }

  .hover-soft-border {
    box-shadow: none;
    border: 1px solid transparent;
    border-top: none;
    border-left: none;
  }

  .hover-soft-border:hover {
    box-shadow: 2px 2px 3px rgba(0, 0, 0, 0.175);
    border: 1px solid rgba(0, 0, 0, 0.1);
    border-top: none;
    border-left: none;
  }

  .text-link {
    @apply text-[var(--color-primary-pink)] hover:underline underline-offset-2 decoration-current
  }

  .input-clicked {
    
  }
  
}

button {
  cursor: pointer;
}
